<% include partials/header %>
<div class = "container"> 
      <header >
        <div class = "panel panel-primary">
         <div class = "panel-heading">
             <h3 class = "panel-title">VIEW SPONSORS</h3>
        </div>
        </div>
     </header>
     <div  class="btn btn-secondary" class = "caption">
        <ul> <a class = "btn btn-primary" href="/NEW_SPONSOR" > ADD NEW SPONSOR </a> </ul>
      </div>
 <div class = "container"> 
 
    <div class = "row" style ="display:flex; flex-wrap:wrap;">
        <% Sponsor.forEach(function(Sponsor){ %>
                    <div class = "col-md-3 col-sm-6">
                      <ul>
                           <div class = "thumbnail" class = "Pagination">
                            <img src = "<%= Sponsor.image %>">
                            <div class = "caption">
                              <ul> 
                                     <h4> <%= Sponsor.name %> </h4>
                                    
                                     <div> 
                                        <a  class = "btn btn-primary" href="/sponsor/<%= Sponsor._id %>"> READ </a> 
                                    </div>
                                     <div> 
                                        <a  class = "btn btn-warning" href="/sponsor/<%= Sponsor._id %>/edit"> UPDATE </a> 
                                    </div>
                                    <div>
                                        <a  class = "btn btn-danger" href="/sponsor/delete/<%= Sponsor._id %>"> DELETE </a>
                                    </div>
                              </ul>
                            </div>
                           </div> 
                      </ul>
                    </div>
           <% }); %>
   </div>
  </div>
  
  
  
<% include partials/footer %>